// Light Mode vars
$primaryBgLightModeColor: '#FFFFFF';
$secondaryBgLightModeColor: '#F3F3F3';
$textLightModeColor: #000;

// Dark Mode vars
$primaryBgDarkModeColor: #080b12;
$secondaryBgDarkModeColor: #111726;
$textDarkModeColor: #fff;

// Fonts
$titleFont: 'Arial';
$primaryFont: 'Montserrat';
$secondaryFont: 'monospace';