// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

// Light Mode vars
$primaryBgLightModeColor: hsl(0, 0%, 98%);
$secondaryBgLightModeColor: hsl(0, 0%, 100%);
$textLightModeColor: #000;

// Dark Mode vars
$primaryBgDarkModeColor: hsl(207, 26%, 17%);
$secondaryBgDarkModeColor: hsl(209, 23%, 22%);
$textDarkModeColor: hsl(0, 0%, 100%);

// Fonts
$primaryFont: 'Nunito Sans';
$secondaryFont: 'Montserrat'