* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f2f2f2;
    font-family: $primaryFont;
    font-size: 1.6rem;
    box-sizing: border-box;

    &.dark-theme {
        background-color: $secondaryBgDarkModeColor;
        color: $textDarkModeColor;
    }
}

img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 130rem;
}