h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: $titleFont;
}

h3 {
    font-size: 2em;
    font-weight: 800;
    font-family: $titleFont;
}

p {
    font-size: 1.5em;
    font-weight: 600;
    font-family: $primaryFont;
}

span {
    font-size: 1.5em;
    font-weight: 200;
    font-family: $secondaryFont;
}