h1 {
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
}

li {
    font-weight: 600;
    list-style: none;
}

a {
    text-decoration: none;
    color: $textLightModeColor;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

span {
    font-size: 1.5rem;
    font-weight: 200;
}