.countries-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-bottom: 100px;

    @include responsive('tablet') {
        grid-template-columns: repeat(3, 1fr);
    }

    @include responsive('small-tablet') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include responsive('mobile') {
        grid-template-columns: 1fr;
        margin: 50px 20px;
    }

    @include responsive('small-mobile') {
        margin: 50px 0;
    }

    .country-card {
        background-color: $primaryBgLightModeColor;
        width: 100%;
        min-height: 370px;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);

        &.dark-theme {
            background-color: $primaryBgDarkModeColor;
            color: $textDarkModeColor;
        }

        .image {
            height: 180px;
            
            img {
                width: 100%;
                height: 100%;
            }
        }

        .content{
            padding: 20px;

            ul {
                list-style: none;
                margin: 15px 0;

                li {
                    margin: 5px 0;
                }
            }
        }
    }
}