.filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;

    // Select Filter
    .select-section select {
        padding: 15px;
        border: 0;
        border-radius: 5px;
        font-family: $secondaryFont;
        -webkit-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.75);

        &.dark-theme {
            background-color: $primaryBgDarkModeColor;
            color: $textDarkModeColor;
            border: 1px solid #000;
            
            &::placeholder {
                color: $textDarkModeColor;
            }
        }

        &:focus {
            outline: none;
        }
    }

    // Search Filter
    .search-section .input-container {
        display: flex;
        align-items: center;
        position: relative;

        .icon {
            position: absolute;
            left: 15px;
            font-size: 2.3rem;
        }

        input {
            padding: 15px 10px 15px 50px;
            width: 40rem;
            border: none;
            border-radius: 5px;
            font-family: $secondaryFont;
            -webkit-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.75);

            &.dark-theme {
                background-color: $primaryBgDarkModeColor;
                color: $textDarkModeColor;
                border: 1px solid #000;
                
                &::placeholder {
                    color: $textDarkModeColor;
                }
            }

            &:focus {
                outline: none;
            }
        }
    }
}