.nav {
    background-color: $primaryBgLightModeColor;
    padding: 25px 0;
    -webkit-box-shadow: 0px 5px 15px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px -13px rgba(0,0,0,0.75);

    &.dark-theme {
        background-color: $primaryBgDarkModeColor;
        color: $textDarkModeColor;
    }

    .nav-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include responsive('small-mobile') {
            flex-direction: column;
            gap: 10px;
        }
        
        p {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
    }
}